<% layout("/layouts/boilerplate") %>

    <body>
        <h4>All buildings</h4>
        <!-- <form action="/listings/new" method="get">
        <button>Create New Listing</button>
    </form> -->
        <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
            <% for(let listing of allListing){ %>
                <a href="/listings/<%= listing._id %>" class="listing-link">
                    <div class="card listing-card">
                        <img src="<%= listing.image.url %>"  class="card-img-top" alt="No image found" style="height:20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text"> <b><%= listing.title %></b> <br>  <%= listing.location %> <br><%= listing.price.toLocaleString("en-IN") %></p>
                        </div>
                    </div>
                </a>             
             <% } %>
        </div>

                <!-- <ul>
                    <% for(let listing of allListing){ %>
                        <li>
                            <a href="/listings/<%= listing._id %>">
                                <%= listing.title %>
                            </a>
                        </li>
                        <% } %>
                </ul> -->
    </body>